<html>

<div>
  <b>
    {% if include.member.website != nil %}
      <a target="_blank" href="{{ include.member.website }}">{{ include.member.name }}</a>
    {% else %}
      {{ include.member.name }}
    {% endif %}
  </b>
  ({{ include.member.started }}-{{ include.member.ended }}) {{ include.member.info }}
  {% if include.member.after %}
    <strong>&rarr;</strong> {{ include.member.after }} <span class="flag-icon flag-icon-{{ include.member.country_after }}"></span>
  {% endif %}
  {% if include.member.scholarusername %}
    - <a target="_blank" href="http://scholar.google.com/citations?user={{ include.member.scholarusername }}" class="waves-effect waves-teal btn-flat my-google-scholar-link" data-tooltip="google scholar">
      <i class="ai ai-google-scholar"></i>
    </a>
  {% endif %}
  {% if include.member.resgateusername %}
    - <a target="_blank" href="http://www.researchgate.net/profile/{{ include.member.resgateusername }}" class="waves-effect waves-teal btn-flat my-researchgate-link" data-tooltip="researchgate">
      <i class="ai ai-researchgate"></i>
    </a>
  {% endif %}
  {% if include.member.mendeleyusername %}
    - <a target="_blank" href="https://www.mendeley.com/profiles/{{ include.member.mendeleyusername }}" class="waves-effect waves-teal btn-flat my-mendeley-link" data-tooltip="mendeley">
      <i class="ai ai-mendeley"></i>
    </a>
  {% endif %}
  {% if include.member.orcidusername %}
    - <a target="_blank" href="http://orcid.org/{{ include.member.orcidusername }}" class="waves-effect waves-teal btn-flat my-orcid-link" data-tooltip="orcid">
      <i class="ai ai-orcid"></i>
    </a>
  {% endif %}
  {% if include.member.publonsusername %}
    - <a target="_blank" href="https://publons.com/a/{{ include.member.publonsusername }}" class="waves-effect waves-teal btn-flat my-publons-link" data-tooltip="publons">
      <i class="ai ai-publons"></i>
    </a>
  {% endif %}
  {% if include.member.linkedinusername %}
    - <a target="_blank" href="http://www.linkedin.com/in/{{ include.member.linkedinusername }}" class="waves-effect waves-teal btn-flat my-linkedin-link" data-tooltip="linkedin">
      <i class="fa fa-linkedin"></i>
    </a>
  {% endif %}
  {% if include.member.twitterusername %}
    - <a target="_blank" href="https://twitter.com/{{ include.member.twitterusername }}" class="waves-effect waves-teal btn-flat my-twitter-link" data-tooltip="twitter">
      <i class="fa fa-twitter"></i>
    </a>
  {% endif %}
  {% if include.member.githubusername %}
    - <a target="_blank" href="https://github.com/{{ include.member.githubusername }}" class="waves-effect waves-teal btn-flat my-github-link" data-tooltip="github">
      <i class="fa fa-github"></i>
    </a>
  {% endif %}
  {% if include.member.spotifyusername %}
    - <a target="_blank" href="https://open.spotify.com/artist/{{ include.member.spotifyusername }}" class="waves-effect waves-teal btn-flat my-spotify-link" data-tooltip="spotify">
      <i class="fab fa-spotify"></i>
    </a>
  {% endif %}
  {% if include.member.stravausername %}
    - <a target="_blank" href="https://www.strava.com/athletes/{{ include.member.stravausername }}" class="waves-effect waves-teal btn-flat my-strava-link" data-tooltip="strava">
      <i class="fab fa-strava"></i>
    </a>
  {% endif %}
</div>
</html>
