{% assign lang = site.active_lang %}

<div class="well">
  <!-- <a class="twitter-timeline" href="https://twitter.com/bcem_uniandes?ref_src=twsrc%5Etfw">Tweets by BCEM @ Uniandes</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
  <h3 style="margin-top: 0px;">{{ site.newsheader[lang] }}</h3>

  {% for article in site.data.news limit:6 %}
    <p style="margin-bottom: 0px; margin-top: 0px;">
      <b>{{ article.date }}</b>
    </p>
    <p style="margin-bottom: 0px; margin-top: 0px;">
      {{ article.headline | markdownify }}
    </p>
  {% endfor %}

  <h4><a href="{{ site.url }}{{ site.baseurl }}/allnews">... {{ site.newscontinue[lang] }}</a></h4>
</div>
